# Minimal OpenOCD 0.12 configuration for STM32F103RCT6 over ST-Link SWD.
adapter driver hla
hla layout stlink
hla vid_pid 0x0483 0x3744 0x0483 0x3748 0x0483 0x374b 0x0483 0x374d 0x0483 0x374e 0x0483 0x374f 0x0483 0x3752 0x0483 0x3753 0x0483 0x3754 0x0483 0x3755
transport select swd

set CHIPNAME stm32f1x
swd newdap $CHIPNAME cpu -expected-id 0x1ba01477
dap create $CHIPNAME.dap -chain-position $CHIPNAME.cpu
target create $CHIPNAME.cpu cortex_m -endian little -dap $CHIPNAME.dap

$CHIPNAME.cpu configure -work-area-phys 0x20000000 -work-area-size 0x1000 -work-area-backup 1
flash bank $CHIPNAME.flash stm32f1x 0x08000000 0 0 0 $CHIPNAME.cpu

adapter speed 4000
